.HomeScreen {
}
.HomeScreen__top {
  padding: 20px 20px 30px 20px;
}
.HomeScreen__bottom {
  padding: 30px 0 20px 0;
}

.HomeScreen__clock {
  text-align: center;
}
.HomeScreen__clock-time {
  display: inline-block;
  margin-right: 10px;
  font-size: 8rem;
  font-weight: 100;
}
.HomeScreen__clock-ampm {
  font-size: 3rem;
  font-weight: 500;
}

.HomeScreen__date {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.HomeScreen__addTimezoneButton {
  $width: 50px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -($width/2);
  border-radius: 50%;
  width: $width;
  height: $width;
  background-color: #ff4081;
  box-shadow: 0 5px 10px rgba(0,0,0, .3);
  text-align: center;
  line-height: $width;

  &:hover, &:active {
    background-color: #ff80ab;
  }

  svg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    fill: white;
  }
}


.HomeScreen__userTimezone {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.HomeScreen__userTimezone__city {
  flex: 1;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  vertical-align: middle;
}
.HomeScreen__userTimezone__day {
  color: rgba(255,255,255, .7);
  font-weight: 300;
}

.HomeScreen__userTimezone__time {
  display: inline-block;
  margin-right: 5px;
  font-size: 4rem;
  font-weight: 100;
}
.HomeScreen__userTimezone__ampm {
  font-size: 1.4rem;
  font-weight: 300;
}
